<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Welcome CREW</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce class="page-home">
        <!-- <ion-slides pager (ionSlideDidChange)="slideChanged()">
                <ion-slide *ngFor="let slide of slides">
                    <p [innerHTML]="slide.descriptionOnTop"></p>
                    <div class="image-content-box">
                        <img [src]="slide.image" class="slide-image"/>
                    </div>
                    <h2 class="slide-title" [innerHTML]="slide.title"></h2>
                    <p [innerHTML]="slide.description"></p>
                    <button ion-button color="primary" class="button-alignment-skip" (click)="leaveIntro()">Skip</button>
                    <button ion-button color="primary" class="button-alignment-next" (click)="nextSlide()" *ngIf="!isHelpListComponent">Next</button>
                    <button ion-button color="primary" [style.display] = "currentIndex < 3 ? '' : 'none'" class="button-alignment-next" (click)="nextSlide()" *ngIf="isHelpListComponent">Next</button>
                </ion-slide>
            </ion-slides> -->
    <ion-slides pager (ionSlideDidChange)="slideChanged()">

    

        <ion-slide *ngFor="let slide of slides" [style.background-image]="'url(assets/imgs/'+slide.image+')'" >
            <p>{{slide.description}}</p>
            <button ion-button color="primary" class="button-alignment-skip" (click)="leaveIntro()">Skip</button>
            <button ion-button color="primary" class="button-alignment-next" (click)="nextSlide()">{{currentIndex != 2 ? 'Next':'Login'}}</button>
            
        </ion-slide>

        
    </ion-slides>

</ion-content>