page-material-equipment {

    font-size: 1.4rem !important;
    .me-details{
        .flex-grow{
            flex-grow:1;            
        }

        .date-div{            
            ion-icon{
                font-size: 26px;
            }            
            ion-col{ 
                flex-grow:1;               
                ion-chip{                    
                    ion-label{                        
                        white-space: nowrap;                        
                    }
                }
            }
        }

    }   
    ion-list{       
        ion-item{            
            .item-inner{
                margin-left: 4px !important;                
            }
            .clear-btns{
                margin-right: 0px;
                ion-icon{
                    margin-right:4px !important;                    
                }
            }
            .clock-div{
                div{
                    button{
                        font-weight: bold !important;
                    }
                }                
            }
            .fa-list{       
                font-size: 23px;
            }
            .fa-stack-exchange{       
                font-size: 26px;
            }
            .note-div{
                .input-wrapper{
                    margin-left:3px;
                }
            }
        }        
    }
    
     
}